﻿@using System.Web.Optimization
<img id="page-loader" style="position:absolute; left: 50%; top: 50%; margin-left: -60px; margin-top: -60px;" src="/content/img/cogs_4.gif" />
@*<div id="page-loader" style="width: 100%; height: 100%; left: 0;  top: 0; opacity: 0.5; z-index:100000; background-color: #fff; position:fixed; ">
    <img id="page-loader" style="position:absolute; left: 50%; top: 50%; margin-left: -60px; margin-top: -60px;" src="/content/img/cogs_4.gif" />
</div>*@
<script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
@Styles.Render("~/css")
@Scripts.Render("~/js")
@Scripts.Render("~/app")

