﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/Content/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/Content/favicon.ico" type="image/x-icon">
        <title>Cement</title>
    </head>
<body>
    @RenderBody()
</body>
</html>